*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #C8C8C8;
}

a{
    text-decoration: none;
    color: black;
}

.boraBill{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

/* ESTILIZAÇÃO DOS CARDS SUPERIORES */
#card{
    width: 17rem;
    display: inline-block;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 5px;
    text-align: center;
    transition-property: width, height;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    box-shadow: 1px 1px 8px 0px;
}
#titleCard{
    margin-top: 1rem;
}

#card:hover{
    width: 21rem !important;
    /* height: 21rem; */
    
    transition-delay: 0s;
}

@media(max-width: 992px){
    #card{
        width: 13rem;
        pointer-events: none;
        transition-duration: 0s;
    }
}

@media(max-width: 767.5px){
    #card{
        width: 17rem;
        margin-bottom: 1rem;
    }
}

@media(max-width: 576px){
    #card{
        width: 19rem;
    }
}

@media(max-width: 310px){
    #card{
        width: 100vh;
        border-radius: 0;
    }
}
/* FIM DA ESTILIZAÇÃO DOS CARDS SUPERIORES */


/* ESTILIZAÇÃO DA SEÇÃO DE CLIMA */
    #sectionClima{
        background-color: rgba(255, 255, 255, 75%);
        border-radius: 5px;
    }

    #cidade{
        appearance: none;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        text-align: center;
        outline: none;
    }

    #historicoPais{
        text-align: justify;
    }

    #temp{
        margin-left: 2rem;
    }

    #condClima, #vento{
        margin-left: 5rem;
    }

    @media(max-width: 992px){
        #condClima, #vento{
            margin-left: 7rem;
        }

        #temp{
            margin-left: 3rem;
        }
    }

    @media(max-width: 767.5px){
        #condClima, #vento{
            margin-left: 9rem;
        }

        #temp{
            margin-left: 4rem;
        }
    }

    @media(max-width: 575.5px){
        #condClima, #vento{
            margin-left: 1rem;
        }

        #temp{
            margin-left: -6rem;
        }

        #imgClima{
            width: 7rem;
        }
    }

    @media(max-width: 470px){
        #temp{
            margin-left: -3rem;
        }
    }

    @media(max-width: 350px){
        #temp{
            margin-left: -1rem;
        }

        #imgClima{
            width: 6rem;
        }
    }

    @media(max-width: 230px){
        #imgClima{
            display: none;
        }

        #temp{
            margin-left: -3rem;
        }
    }

    /* #Clima{
        padding-right: 2rem;
    } */
/* FIM DA ESTILIZAÇÃO DA SEÇÃO DE CLIMA */


/* ESTILIZAÇÃO DA SEÇÃO DE CONVERSÃO DE MOEDAS */
#mainMoeda{
    background-image: url(../img/background_coin.svg);
}

 #moeda_escolhida, #moeda_converter{
    background-color: #f0f0f0;
}

#moeda_escolhida{
    border-radius: 0px;
}

#moeda_converter{
    border-radius: 0px;
}

#valor{
    border-radius: 0px 0px 0px 5px;
}

#valor_convertido{
    border-radius: 0px 0px 5px 0px;
}
/* FIM DA ESTILIZAÇÃO DA SEÇÃO DE CONVERSÃO DE MOEDAS */


/* ESTILIZAÇÃO DA SEÇÃO DE CONSELHOS */
#botao{
    background-color: rgba(255, 255, 255, 70%);
    color: rgba(000, 000, 000, 45%);
}

#botao:hover{
    background-color: rgba(255, 255, 255, 60%);
    color: rgba(000, 000, 000, 35%);
}
/* FIM DA ESTILIZAÇÃO DA SEÇÃO DE CONSELHOS */


/* SOMBRA */
#mainMoeda{
    box-shadow: 1px 2px 8px 0px, 0px 0px 0px 0px;
}

#advice{
    box-shadow: 0px 0px 0px 0px, 1px 2px 8px 0px;
}